// || Colors light || ---------------------------------------------------------------------------------------------------------------------------------------- //
$title_color_light: #393939;
$text_color_light: #070707;

$body_background_color_light: #fbfefd;
$container_background_color_light: #ffffff;

// || Colors dark || ---------------------------------------------------------------------------------------------------------------------------------------- //

$title_color_dark: #fbfefd;
$text_color_dark: #ffffff;

$body_background_color_dark: #393939;
$container_background_color_dark: #070707;

// weitere Farben selber hinzufügen
