// || Margin || ---------------------------------------------------------------------------------------------------------------------------------------- //

$marging_1: 0.8rem;
$marging_2: 1rem;
$marging_3: 1.6rem;
$marging_4: 2.4rem;
$marging_5: 3.2rem;
$marging_6: 4rem;
$marging_7: 4.8rem;

// || Padding || ---------------------------------------------------------------------------------------------------------------------------------------- //
$padding_1: 0.8rem;
$padding_2: 1rem;
$padding_3: 1.6rem;
$padding_4: 2.4rem;
$padding_5: 3.2rem;
$padding_6: 4rem;
$padding_7: 4.8rem;
